/* Container for displaying search results */
.movieResult {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to the next line */
  justify-content: space-between; /* Distribute items evenly */
}

/* Individual item in the search results */
.movieResultItem {
  width: calc(33.33% - 20px); /* Calculate width for three items in a row */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  transition: transform 0.3s ease; /* Add transition effect */
}

.movieResultItem:hover {
  transform: translateY(-5px); /* Add slight lift effect on hover */
}

/* Title of each movie in the search results */
.movieTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Overview of each movie in the search results */
.movieOverview {
  margin-bottom: 10px;
}

/* Poster image of each movie in the search results */
.moviePoster {
  width: 100%;
  max-width: 100%;
  height: auto; /* Ensure aspect ratio is maintained */
  border-radius: 5px;
}
