.results {
  padding: 20px;
}

.movie-list {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px;
  padding-bottom: 20px; /* Add some padding at the bottom */
}

.movie-item {
  min-width: 200px; /* Set a minimum width for each movie item */
}

.movie-card {
  flex: 0 0 auto; /* Ensure items do not shrink */
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(99, 99, 99);
}

.movie-card__img {
  max-height: 300px;
}

.movie-card__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.movie-card__overlay:hover {
  opacity: 1;
}

.movie-card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.movie-card__runtime {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.movie-card__rating {
  float: right;
}

.movie-card__description {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
